.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100%;
}
.mainLink {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  &:hover {
    border-bottom: 2px solid #222222;
  }
}
.wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 3;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  border-top: 1px solid #d4c6b9;
  border-bottom: 1px solid #d4c6b9;
  background: #faf9f8;
}
.inner {
  display: flex;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.left {
  width: 350px;
  div {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 0;
  }
  a {
    display: flex;
    width: 50%;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
  }
}
.leftLinks {
  display: flex;
  flex-wrap: wrap;
}
.right {
  width: 100%;
  max-width: 950px;
  display: flex;
  div {
    width: 150px;
    height: 220px;
    border-radius: 2px;
    margin: 3px 0 3px 3px;
    background-size: cover;
    position: relative;
    a {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      font-weight: 500;
      font-size: 13px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 105px;
      height: 30px;
      background: #ffffff;
      border-radius: 2px;
      margin: 0 auto;
    }
  }
}
